* {
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
}

main {
  background-image: url("img/large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#nav-bar {
  background: #5d5d61;
  transform: translateY(100px);
  padding: 15px 0;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  height: 30px;
  border: 1px solid #5d5d61;
}

#input {
  border-radius: 10px;
  font-size: 20px;
}

.text {
  padding-top: 180px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

span {
  font-weight: 100;
}

#nav-bar #navlink #button {
  font-size: 17px;
}

#nav-bar #nav-link #button {
  font-size: 30px;
}

.nav-list {
  color: #fff;
  text-decoration: none;
}

.nav-list:hover {
  font-size: 30px;
  transition: 0.5s;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  color: #fff;
  list-style: none;
}

#search-icon {
  display: relative;
  margin-left: 10px;
}

#main-paragraph {
  padding: 0%;
}

footer #img {
  padding-top: 3px;
}

footer #img .img2 {
  width: 25%;
  height: 280px;
}

.foot-text {
  margin-left: 20%;
  padding-top: 40px;
  font-size: 20px;
  color: #565457;
}

.foot-text .link {
  text-decoration: none;
  color: #5ac6fb;
}

#foot2 {
  display: grid;
  grid-template-columns: repeat(7, max-content) 25px;
  column-gap: 10px;
  list-style: none;
  margin-left: 70%;
  transform: translateY(-120px);
}

#foot2 .link2 {
  text-decoration: none;
  color: #5ac6fb;
  font-size: 20px;
}

#foot2 .link2:hover {
  text-decoration: underline;
}
